// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  max-width: 1380px;
  width: 100%;
  padding: 7px 10px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      width: 33.333%;
      margin-right: auto;
    }

    &:nth-child(2) {
      width: 33.333%;
      margin: 0 auto;
      justify-content: center;
    }

    &:nth-child(3) {
      width: 33.333%;
      margin-left: auto;
      justify-content: flex-end;
    }

    & > .profile {
      cursor: pointer;
    }
  }

  &__logo {
    & > .logo {
      margin-right: 8px;
    }
  }
}
