.sidebar {
  display: none;
  width: 280px;
  background-color: white;
  padding: 16px;
  margin: 0 4px;
  row-gap: 16px;

  &.show {
    display: grid;
  }

  &__title {
    @include h5;
  }

  &__content {
    display: grid;
    row-gap: 16px;
  }
}
