.sidebar {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  width: 280px;
  transform: translateX(280px);
  overflow: hidden;
  visibility: hidden;
  background-color: white;
  padding: 8px 0;
  row-gap: 16px;
  transition: 0.25s;

  &.show {
    visibility: visible;
    transform: translateX(0);
    padding: 8px;
  }

  &__title {
    @include h5;
  }

  &__content {
    display: grid;
    row-gap: 16px;
  }
}
