// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.primary-button {
  width: 100%;
  font-size: 13px;
  line-height: 24px;
  color: white;
  cursor: pointer;
  padding: 11px 0;
  background-color: #7a84dc;
  border: none;
  border-radius: 6px;
  transition: 0.3s;

  &.small {
    padding: 8px 0;
  }

  &:hover {
    background-color: #8d97ef;
  }

  &:focus {
    background-color: #5c66bd;
  }
}

.google-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: pointer;
  padding: 14px 0;

  &__content {
    color: black;
    font-size: 12px;
    line-height: 24px;
    margin-left: 21px;
  }

  &:hover {
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
  }
}

.button {
  @include button;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 6px;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }

  &.primary {
    background-color: $gray300;
    color: $gray500;

    &.disabled {
      background-color: $gray300;
      color: $gray500;
    }
  }

  &.outline {
    border: 1px solid $primary-color;
    background: none;
    color: $primary-color;

    &.pressed,
    &:hover {
      color: white;
      background-color: $primary-color;
    }

    &.disabled {
      border: 1px solid $gray300;
      color: $gray400;
    }
  }

  &.outline-text {
    background: none;
    color: $primary-color;

    &.disabled {
      border: 1px solid $gray300;
      color: $gray400;
    }
  }

  &.text {
    color: $quaternary-color;

    &.disabled {
      color: $gray300;
    }
  }
}
