.chat {
  width: 100%;
  padding: 4px 7px;
  display: grid;
  grid-template-columns: 36px 1fr;
  column-gap: 16px;

  &__profile {
    padding: 4px;
  }

  &__content {
    display: grid;
    row-gap: 4px;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__name {
    @include subtitle1;

    margin-right: 12px;
  }

  &__time {
    @include caption;

    color: $gray600;
  }

  &__description {
    @include body2;
    color: $gray800;
  }
}
