.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // 디바이스 높이 - 헤더 높이
  height: calc(100vh - 48px);

  visibility: hidden;
  opacity: 0;
  transform: scale(1.05);

  transition: 0.2s;

  background-color: white;

  &.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    z-index: 1;
  }

  &__nav {
    display: flex;
    align-items: center;

    margin-bottom: 20px;

    img {
      margin-right: 8px;
    }

    span {
      @include button;

      color: $black-color;
    }
  }

  &__close {
    cursor: pointer;
  }

  &__content {
    width: 99%;
    // 디바이스 높이 - 헤더 높이 - 아이프레임 네비게이션 높이
    height: calc(100vh - 48px - 44px);
  }
}
