.image {
  &-s {
    width: 24px;
    height: 24px;
  }

  &-m {
    width: 28px;
    height: 28px;
  }

  &-l {
    width: 36px;
    height: 36px;
  }

  &-xl {
    width: 56px;
    height: 56px;
  }
}
