// 팝업 로그인 페이지의 Input 컴포넌트
.input-A {
  width: 100%;
  font-size: 13px;
  line-height: 24px;
  outline: none;
  border: none;
  border-bottom: 2px solid #7a84dc;
  padding-bottom: 5px;
  margin-bottom: 28px;

  &:placeholder-shown {
    border-bottom: 2px solid #bdbdbd;
  }

  &:focus {
    border-bottom: 2px solid #7a84dc;
  }

  &::placeholder {
    color: #bdbdbd;
  }

  &__error {
    font-size: 9px;
    color: #ff3165;
    line-height: 24px;
    margin: 0;
    transform: translateY(-28px);
  }
}

.input-B {
  width: 100%;
  font-family: 'Apple SD Gothic Neo';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  outline: none;
  border: none;
  border-bottom: 1px solid #cbd0ec;
  padding-bottom: 2px;

  &::placeholder {
    color: #bdbdbd;
  }
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 40px;
  border: 1px solid $gray200;
  border-radius: 6px;
  background-color: $gray50;
  padding: 10px 12px;

  & input {
    @include body2;

    width: 100%;
    border: none;
    outline: none;
    background: none;

    &::placeholder {
      color: $gray500;
    }
  }

  &__prefix {
    margin-right: 8px;
    width: 18px;
    height: 18px;
  }

  &__suffix {
    width: 18px;
    height: 18px;
    margin-left: auto;
    cursor: pointer;
  }

  &.focuse {
    border: 1px solid #424242;
  }

  &.error {
    border: 1px solid $red-color;
  }

  & + &__error {
    @include caption;
    margin-top: 4px;
    color: $red-color;
  }
}
