.link {
  width: 230px;
  border-radius: 8px;
  cursor: pointer;

  &__header {
    height: 31px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 0 8px;

    border: 1px solid $gray200;
    background-color: $tertiary-color;
  }

  &.imageview &__header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:hover &__header {
    border: 1px solid $gray100;
    background-color: $gray100;
  }

  &.active &__header {
    border: 1px solid $gray200;
    background-color: $secondary-color;
    // background-color: $tertiary-color;
  }

  &__title {
    @include button;

    margin-left: 8px;
    color: black;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28px;

    span {
      @include button;
      color: $gray700;
    }
  }

  &__description {
    @include caption;

    position: relative;
    color: $gray700;
    padding-left: 6px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: $gray400;
    }
  }
}

.link-box {
  width: 230px;
  border-radius: 8px;
  cursor: pointer;

  &__header {
    height: 31px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 0 8px;

    border: 1px solid $gray200;
    background-color: $tertiary-color;
  }

  &:hover &__header {
    // border: 1px solid $gray100;
    // background-color: $gray100;
  }

  &.active &__header {
    // border: 1px solid $gray200;
    // background-color: $secondary-color;
    // background-color: $tertiary-color;
  }

  &__title {
    @include button;

    margin-left: 8px;
    color: black;
    text-transform: none;
  }

  &__description {
    @include caption;

    margin-top: 8px;
    position: relative;
    color: $gray700;
    padding-left: 6px;
    line-height: 17px;
    overflow: overlay;
    max-height: 120px;

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: $gray400;
    }
  }
}
