.link-tree {
  display: grid;
  row-gap: 12px;
  width: 251px;
  height: 100%;

  &__content {
    display: grid;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;

    cursor: pointer;
  }

  &__title {
    @include h5;
  }

  &__arrow {
    transform: rotate(180deg);
    transition: 0.25s;
  }

  &__item-list {
    @include scroll;

    display: grid;
    row-gap: 8px;
    max-height: 0;
    overflow: overlay;

    transition: 0.25s;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 28px;
    border-radius: 6px;
    cursor: pointer;
  }

  &__item.active {
    height: 31px;
    background-color: $tertiary-color;
  }

  &__item:hover {
    border: 1px solid $gray100;
    background-color: $gray100;
  }

  &__item span {
    @include button;
    margin-left: 8px;
    text-transform: none;
  }

  &__content.active &__arrow {
    transform: rotate(0);
  }

  &__content.active &__item-list {
    max-height: 300px;
    margin-top: 8px;
  }
}
