/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
$base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$max-width: 1200px;

$subtitle1-size: 1rem;
$subtitle1-color: #000000;

$button-font-size: 0.813rem; // 13px
$button-font-weight: 500;
$button-font-letter: 1.25%;

$black-color: black;

$primary-color: #5c91f6;
$secondary-color: #a1c0fb;
$tertiary-color: #f9f2ee;
$quaternary-color: #20212c;
$red-color: #f80000;
$yellow-color: #ffb800;
$green-color: #00c051;

$gray50: #fafafa;
$gray100: #f5f5f5;
$gray200: #eeeeee;
$gray300: #e0e0e0;
$gray400: #bdbdbd;
$gray500: #9f9e9f;
$gray600: #747574;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;
