/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
$base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$max-width: 1380px;

$popup-width: 375px;
$popup-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
$popup-border-radius: 3px;

$subtitle1-size: 1rem;
$subtitle1-color: #000000;

$button-font-size: 0.813rem; // 13px
$button-font-weight: 500;
$button-font-letter: 1.25%;

$primary-color: rgba(58, 135, 211, 1);
$black-color: #000000;
