.popup-bookmark {
  width: $popup-width;
  border-radius: $popup-border-radius;
  background-color: white;
  box-shadow: $popup-box-shadow;
  padding: 0 20px 18px 35px;
  position: relative;
  overflow: hidden;
  &__header {
    margin-left: -12px;
    margin-bottom: 11px;
  }

  &__sidebar-open,
  &__sidebar-current-item {
    width: 100%;
    color: #7a84dc;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    border-radius: 6px;
    padding: 7px 0 5px 5px;

    &:hover {
      background-color: #f0eef2;
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 12px;
      background-color: #7a84dc;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
      margin-right: 5px;
    }

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: white;
      border-radius: 100%;
      left: 5%;
    }
  }

  &__sidebar-show {
    visibility: hidden;
    width: 0;
  }

  &__sidebar {
    position: absolute;
    padding: 15px 16px;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    transition: 0.3s;
    transform: translateX(100%);
  }

  &__sidebar-close {
    display: block;
    color: #bdbdbd;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  &__sidebar-show:checked ~ &__sidebar {
    transform: translateX(0);
  }

  &__sidebar-archive-list,
  &__sidebar-collection-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__sidebar-archive-list {
    margin-top: 15px;
  }

  &__sidebar-archive {
    margin-bottom: 2rem;
  }

  &__sidebar-archive span {
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: #7a84dc;
    margin-bottom: 8px;
  }

  &__sidebar-collection {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 25px;

    &:hover {
      background-color: #f0eef2;
    }
  }

  &__footer {
    font-size: 13px;
    line-height: 24px;
    text-align: right;
    color: #bdbdbd;
    margin-top: 39px;
    cursor: pointer;

    &:hover {
      color: #333333;
    }
  }
}
