.popup-login {
  width: $popup-width;
  border-radius: $popup-border-radius;
  box-shadow: $popup-box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 38px;

  &__header {
    margin-bottom: 40px;
  }

  &__link-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 19px 0;
  }

  &__link {
    font-size: 12px;
    color: #828282;
    cursor: pointer;
    line-height: 24px;

    &:hover {
      color: black;
    }
  }

  &__footer {
    width: 100%;
  }

  &__parting-line {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 18px;
    span {
      font-size: 9px;
      line-height: 24px;
      color: #bdbdbd;
      padding: 0 14px;
    }
    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid #e0e0e0;
    }
  }
}
