.container {
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
  display: flex;

  padding: 0 30px;
  &__main {
    max-width: $main-max-width;
    width: 100%;
  }

  &__sub {
    max-width: $sub-max-width;
  }
}
